@import "tailwindcss";


:root {
  --background: #F4EEE5;
  --foreground: #171717;
 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--headerText);
  --font-mono: var(--smallText);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--smallText, sans-serif);
  /* font-family: var(--smallText); */
}

h1, h2, h3 {
  font-family: var(--headerText, serif);
  font-weight: 500;
}

div, p {
  font-family: var(--smallText, sans-serif);
}

.navHeader {
  background-color: #E7AB79;
  height: 45px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  
}
.track {
  display: flex;
  gap: 4rem;
}

.track p {
  white-space: nowrap;
  color: white;
  animation: slide-across 8s linear infinite;
}

/* .track p:nth-child(1) { animation-delay: 0s; }
.track p:nth-child(2) { animation-delay: 2s; }
.track p:nth-child(3) { animation-delay: 4s; } */

.listHover {
  color: white;
  transition: color 0.5s ease-in-out 0.2s;
}
.listHover:hover {
  color: #E7AB79

}
.discount-header {
  animation-duration: 8s;
  animation-name: slide-in;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  
}

@keyframes slide-across {
  0%   { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.heroImage {
  height: 400px;
  background-image: 
  linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.8)),
  url('/Images/cookies.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.8)),('/Images/cookies.jpg') center/cover no-repeat; */
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  z-index: 1;
  width: 100%; 
}
.heroHeader {
  animation-name: slide-down;
  animation-timing-function: linear;
  animation-duration: 5s;
  animation-delay: 0.6s;
  
  

}
.heroParagraph {
  animation-name: slide-down;
  animation-timing-function: linear;
  animation-duration: 6s;
  animation-delay: 0.8s;
  

}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }

  100% {
    opacity: 1;
    tansform: none;

  }
}
.productImage {
  height: 250px;
}
.productsContainer {
  cursor: pointer;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 4rem; 
  margin-left: 2rem;
  margin-right: 1rem;
  margin-top: 3rem;
  
}
/* .secondProductContainer {
  background-color: #D9D9D9;
  border-radius: 8px;
} */
.cartBtn {
  color: #fff;
  background: #000;
  padding: 4px 12px;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
 
  
}
.cartBtn2 {
   color: #fff;
  background: #000;
  padding: 4px 12px;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  min-width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

}
.addBtn {
  padding: 4px 12px;
  width: 50px;
  cursor: pointer;
}
.explore{
  margin-top: 1rem;
  cursor: pointer;
  color: #fff;
  background: #000;
  padding: 4px 12px;
  outline: none;
  border-radius: 4px;
}
.cartList {
  list-style: none;
}

.clearBtn{
  color: #fff;
  background: #000;
  padding: 4px 12px;
  outline: none;
  border-radius: 4px;

}
.secretMenuContainer {
  background-color: #000;
  margin-left: 4rem;
  margin-right: 4rem;
  border-radius: 10px;
  padding:4rem 0;
  margin-bottom: 6rem;
}
.menuChildContainer{
  border: solid 2px rgb(245, 136, 93);
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 1rem 0;
  border-radius: 10px;
}

.serchInput {
  outline: none;
  padding: 0.4rem 0.6rem;
  background-color: #efe1d5;
  border-radius: 10px;
}